.addCard_card {
    display: flex;
    width: 40px;
    height: 232px;
    position: fixed;
    right: 330px;
    top: 258px;


}

.addCard_options {
    width: 100px;
    cursor: pointer;
    margin-top: 10px;

}

.addCard_icon {
    display: block;
    padding: 10px;

}